{% extends 'base.html' %}
{% block title %} 智慧事件自我評量表 {% endblock %}
{% block h1 %} 智慧事件自我評量表 {% endblock %}
{%block intro %}
<p>您好！我是國立暨南國際大學教育政策與行政學系的教授楊世英。
    <strong>這份評量表的目的，主要是透過心理學研究，使我們更加了解一般人在日常生活中所做的最有智慧的事</strong>。請就您自己的經驗來填答。</p>
<p>這份評量表是給25歲以上的人填的。這份評量表要麻煩您想一件您到目前為止做過最有智慧的事情，然後依據您做過的這件有智慧的事情來回答所有的問題。</p>
<p>視您填答的情況而定，這份評量表大約會花您三十至四十五分鐘左右的時間，您的答案會以匿名的方式處理。評量表資料會妥善保存，不會流出給其他人與研究無關的人看到。</p>
<p>
    <strong>您的人生經驗可以幫助其他正在經歷類似經驗的人。請填答這份評量表，讓我透過研究的方式，使可能經歷類似經驗的人從您的人生經歷與從中所得的領悟中受惠。</strong>
    <strong>在您填答時，也請儘可能地詳細，讓沒有身歷其境的人也可以了解您的經歷。如果答案太過簡略，可能會造成別人無法了解您的經驗而使得研究無法分析。</strong>
</p>
<p>
    <strong>雖然會花您一些時間，但是填完之後很多人都說頗有收穫。此外，透過填答網路問卷，您在填完送出之後，您會獲得一個分數，可以讓您就您所做過的智慧事件跟其他人所做的智慧事件相比較，所以請您耐心填答。</strong>
</p>
<p>
    <strong>問卷共有 28 題。</strong>
    為了研究的目的，有些題目感覺會有重複，還請您見諒並詳實填答每一題。</p>
<p>這份問卷的網路版本可以自動儲存，所以萬一您寫到一半中斷，請不要擔心。但是請記得在寫完答案之後要按確認鍵才能翻頁喔。</p>
<p>如果您不熟悉網路問卷，或是由於手機的介面可能不利您用較多的文字填答，而偏好紙本書寫或是用電腦文字軟體來作答，請寫信給我們 ywisdom1020@gmail.com，我們會寄word檔的版本給您。</p>
<p>在收到每一題都
    <strong>認真</strong>填答的評量表之後，我會寄上領據，請將填好的領據並寄回。評量表每題都仔細填答者，會共付250元填答費。</p>
<p>
    <strong>評量表之填答內容一旦確認為有效，且經您同意以匿名的方式將文字內容在網路上分享來提供給遭遇類似困境的人參考，則會額外補發250元之網路分享費。</strong>
</p>
<p>
    <strong>懇請您不吝將自己的人生智慧分享給我，使更多人可以從中受惠。如果您同意分享，請在填完評量表之後，簽署網路分享同意書，並與領據一併寄回。</strong>謝謝！</p>
<p align="right">楊世英敬上&nbsp;&nbsp;</p>
{% endblock %}
